body
  font-family: Meiryo

#brand
  color: white

.card
  width: 200px
  height: 200px
  margin: 10px
  background: white
  box-shadow: 0 2px 5px #ccc
  box-sizing: border-box
  display: inline-block
  vertical-align: top
  position: relative

.delete-button
  position: absolute
  top: 4px
  right: 4px
  color: #cccccc
  cursor: pointer

.card-title
  width: 200px
  height: 44px
  font-size: 24px
  font-weight: bold
  padding: 4px 10px
  border-bottom: 1px solid #aaa
  border-top: 0
  border-right: 0
  border-left: 0
  overflow: hidden

.card-body
  width: 200px
  height: 156px
  font-size: 12px
  padding: 10px
  overflow: hidden
  vertical-align: top
  border: 0

